//
   Created by sergey on 2/2/15.
extends layout
block content
  .page
    header
      .main-centr-container(ng-controller="createPasswordCtrl")
        h1
          a(href='/') outinzadmin
        .menu-box
          .welcom-box
            | Welcome,
            span.fio {{fio}}
          .menu-container
            .menu-button
            .menu-box
    .wrapper
      .main-centr-container

        h2 Hi {{firstName}}! Please create a password.
        p Lorem ipsum dolor sit amet, consectetuer adipicing elit, sed diam nonummy.

        form.create-password(
          novalidate = 'novalidate',
          role='form',
          name='authForm',
          method='post',
          ng-submit='submitted=true; authAction(form,authForm.$valid)'
        )
          .form-group
            label Your Username
            p.notice Your account has been automaticaly created, please login with the following username.
            p.email {{email}}
          .form-group
            label(for="password-field", class="required") Enter Your Password
            p.notice Please include 1 number and 1 capital letter.
            input#auth_email.form-control(
              type = 'password',
              name = 'password',
              placeholder = 'Password',
              autocomplete = 'off',
              autofocus = 1,
              required = 'required',
              password-validation,
              ng-maxlength = '69',
              ng-model = 'form.password',
              ng-model-options = "{debounce:{'default':500,'blur': 1}}",
              ng-class="{'invalid':authForm.password.$invalid && (submitted || authForm.password.$touched), 'valid':authForm.password.$valid && (submitted || authForm.password.$touched), 'add-loader':authForm.password.$pending}"
            )
            .error-validation(
              ng-if='authForm.password.$touched || submitted',
              ng-messages='authForm.password.$error',
              ng-messages-multiple,
              ng-messages-include='html/error-messages.html'
            )
          .form-group
            label(for="re-password-field", class="required") Re-Enter Your Password
            input#auth_email.form-control(
            type = 'password',
            name = 'repassword',
            placeholder = 'Re-Password',
            autocomplete = 'off',
            required = 'required',
            password-validation,
            ng-maxlength = '69',
            ng-model = 'form.repassword',
            ng-model-options = "{debounce:{'default':500,'blur': 1}}",
            ng-class="{'invalid':authForm.repassword.$invalid && (submitted || authForm.repassword.$touched), 'valid':authForm.repassword.$valid && (submitted || authForm.repassword.$touched), 'add-loader':authForm.repassword.$pending}"
            )
            .error-validation(
            ng-if='authForm.repassword.$touched || submitted',
            ng-messages='authForm.repassword.$error',
            ng-messages-multiple,
            ng-messages-include='html/error-messages.html'
            )
          .form-group
            button.btn.btn-primary(type="submit",ng-class="{'add-loader out':authPending}") Create Your Password
    //.footer-compensator
    footer
      .copyright.
        Copyright <span class="lighter">&copy;</span>2014 Outingz. All rights reserved.